<div class="result">
    <div>
        <h2>Результат теста</h2>
        <div class="test-score">Набранные баллы: {{totalPoints}} из {{maxPoints}}</div>
        <div class="test-mark">Ваша оценка: {{mark}}</div>
    </div>
    <div class="show-wrongs-btn"><div>Неправильные ответы</div></div>
</div>