<div class="result">
    <div>
        <h2>Интерпретация результатов</h2>
    </div>
    <div>
        <div>Вы {{temperamentType}}</div>
    </div>
    <div class="result-alternatives">
        <div class="extraversion-5">Вы - яркий экставерт</div>
        <div class="extraversion-4">Вы - экставерт</div>
        <div class="extraversion-3">Вы находитесь посередине на шкале экстраверсии</div>
        <div class="extraversion-2">Вы - интроверт</div>
        <div class="extraversion-1">Вы - глубокий интроверт</div>

        <div class="neuroticism-4">У вас очень высокий уровень нейротизма</div>
        <div class="neuroticism-3">У вас высокий уровень нейротизма</div>
        <div class="neuroticism-2">У вас средний уровень нейротизма</div>
        <div class="neuroticism-1">У вас низкий уровень нейротизма</div>

        <div class="lies-3">Вы проявили неискренность в ответах, свидетельствующую также о некоторой демонстративности поведения и ориентированности на социальное одобрение.</div>
        <div class="lies-2">Вы проявили нормальную степень искренности</div>
        <div class="lies-1">Вы отвечали искренно</div>
    </div>

    <div id="temperament-score">
        <div>Баллы по шкале экстраверсии: {{extraversionScore}} из 24</div>
        <div>Баллы по шкале нейротизма: {{neuroticismScore}} из 24</div>
        <div>Баллы по шкале лжи: {{liesScore}} из 9</div>
    </div>
    <div class="show-all-answers"><div>Показать ответы</div></div>
    <div>
        <h3 class="graph-name">Круг Айзенка</h3>
        <div id="graphic-result">
            <div></div>
            <img id="eysenck-circle-bg" src="../../images/Eysenck_circle-bg.jpg" alt="Круг Айзенка">
            <img id="eysenck-circle-details" src="../../images/Eysenck_circle-lines.png" alt="Круг Айзенка">
            <div id="stable-aspect" class="temperament-traits">стабильность</div>
            <div id="unstable-aspect" class="temperament-traits">нейротизм</div>
            <div id="extrovert-aspect" class="temperament-traits">экстраверсия</div>
            <div id="introvert-aspect" class="temperament-traits">интроверсия</div>
            <div id="melancholic-traits" class="temperament-traits">
                <h2>меланхолик</h2>
                <ul>
                    <li>легко расстраивающийся</li>
                    <li>склонный к рассуждениям</li>
                    <li>необщительный</li>
                    <li>пессимистичный</li>
                    <li>сдержанный</li>
                    <li>тревожный</li>
                    <li>ригидный</li>
                    <li>тихий</li>
                </ul>
            </div>
            <div id="choleric-traits" class="temperament-traits">
                <h2>холерик</h2>
                <ul>
                    <li>легко возбудимый</li>
                    <li>агрессивный</li>
                    <li>беспокойный</li>
                    <li>переменчивый</li>
                    <li>импульсивный</li>
                    <li>оптимистичный</li>
                    <li>обидчивый</li>
                    <li>активный</li>
                </ul>
            </div>
            <div id="phlegmatic-traits" class="temperament-traits">
                <h2>флегматик</h2>
                <ul>
                    <li>пассивный</li>
                    <li>осторожный</li>
                    <li>надёжный</li>
                    <li>спокойный</li>
                    <li>сдержанный</li>
                    <li>миролюбивый</li>
                    <li>рассудительный</li>
                    <li>внушающий доверие</li>
                </ul>
            </div>
            <div id="sanguine-traits" class="temperament-traits">
                <h2>сангвиник</h2>
                <ul>
                    <li>открытый</li>
                    <li>общительный</li>
                    <li>отзывчивый</li>
                    <li>беззаботный</li>
                    <li>инициативный</li>
                    <li>разговорчивый</li>
                    <li>непринуждённый </li>
                    <li>жизнерадостный</li>
                </ul>
            </div>
        </div>

    </div>

    <div id="reference-in-result" style="display: block;">
        <p><strong>Сангвиник</strong> быстро приспосабливается к новым условиям, быстро сходится с людьми, общителен. Чувства легко возникают и сменяются, эмоциональные переживания, как правило, неглубоки. Мимика богатая, подвижная, выразительная. Несколько непоседлив, нуждается в новых впечатлениях, недостаточно регулирует свои импульсы, не умеет строго придерживаться выработанного распорядка, жизни, системы в работе. В связи с этим не может успешно выполнять дело, требующее равной затраты сил, длительного и методичного напряжения, усидчивости, устойчивости внимания, терпения. При отсутствии серьезных целей, глубоких мыслей, творческой деятельности вырабатываются поверхностность и непостоянство.</p>

        <p><strong>Холерик</strong> отличается повышенной возбудимостью, действия прерывисты. Ему свойственны резкость и стремительность движений, сила, импульсивность, яркая выраженность эмоциональных переживаний. Вследствие неуравновешенности, увлекшись делом, склонен действовать изо всех сил, истощаться больше, чем следует. Имея общественные интересы, темперамент проявляет в инициативности, энергичности, принципиальности. При отсутствии духовной жизни холерический темперамент часто проявляется в раздражительности, эффективности, несдержанности, вспыльчивости, неспособности к самоконтролю при эмоциональных обстоятельствах.</p>

        <p><strong>Флегматик</strong> характеризуется сравнительно низким уровнем активности поведения, новые формы которого вырабатываются медленно, но являются стойкими. Обладает медлительностью и спокойствием в действиях, мимике и речи, ровностью, постоянством, глубиной чувств и настроений. Настойчивый и упорный «труженик жизни», он редко выходит из себя, не склонен к аффектам, рассчитав свои силы, доводит дело до конца, ровен в отношениях, в меру общителен, не любит попусту болтать. Экономит силы, попусту их не тратит. В зависимости от условий в одних случаях флегматик может характеризоваться «положительными» чертами - выдержкой, глубиной мыслей, постоянством, основательностью и т. д., в других - вялостью, безучастностью к окружающему, ленью и безволием, бедностью и слабостью эмоций, склонностью к выполнению одних лишь привычных действий.</p>

        <p><strong>Меланхолик.</strong> У него реакция часто не соответствует силе раздражителя, присутствует глубина и устойчивость чувств при слабом их выражении. Ему трудно долго на чем-то сосредоточиться. Сильные воздействия часто вызывают у меланхолика продолжительную тормозную реакцию (опускаются руки). Ему свойственны сдержанность и приглушенность моторики и речи, застенчивость, робость, нерешительность. В нормальных условиях меланхолик - человек глубокий, содержательный, может быть хорошим тружеником, успешно справляться с жизненными задачами. При неблагоприятных условиях может превратиться в замкнутого, боязливого, тревожного, ранимого человека, склонного к тяжелым внутренним переживаниям таких жизненных обстоятельств, которые вовсе этого не заслуживают.</p>

        <h3>Экстраверсия — интроверсия</h3>

        <p>Характеризуя типичного экстраверта, автор отмечает его общительность и обращенность индивида вовне, широкий круг знакомств, необходимость в контактах. Он действует под влиянием момента, ипульсивен, вспыльчив, беззаботен, оптимистичен, добродушен, весел. Предпочитает движение и действие, имеет тенденцию к агрессивности. Чувства и эмоции не имеют строгого контроля, склонен к рискованным поступкам. На него не всегда можно положиться.</p>

        <p>Типичный интроверт — это спокойный, застенчивый, интроективный человек, склонный к самоанализу. Сдержан и отдален от всех, кроме близких друзей. Планирует и обдумывает свои действия заранее, не доверяет внезапным побуждениям серьезно относится к принятию решений, любит во всем порядок. Контролирует свои чувства, его нелегко вывести из себя. Обладает пессимистичностью, высоко ценит нравственные нормы.</p>

        <h3>Нейротизм</h3>

        <p>Характеризует эмоциональную устойчивость или неустойчивость (эмоциональная стабильность или нестабильность). Нейротизм, по некоторым данным, связан с показателями лабильности нервной системы. Эмоциональная устойчивость — черта, выражающая сохранение организованного поведения, ситуативной целенаправленности в обычных и стрессовых ситуациях. Характеризуется зрелостью, отличной адаптацией, отсутствием большой напряженности, беспокойства, а также склонностью к лидерству, общительности. Нейротизм выражается в чрезвычайной нервности, неустойчивости, плохой адаптации, склонности к быстрой смене настроений (лабильности), чувстве виновности и беспокойства, озабоченности, депрессивных реакциях, рассеянности внимания, неустойчивости в стрессовых ситуациях. Нейротизму соответствует эмоциональность, импульсивность; неровность в контактах с людьми, изменчивость интересов, неуверенность в себе, выраженная чувствительность, впечатлительность, склонность к раздражительности. Нейротическая личность характеризуется неадекватно сильными реакциями по отношению к вызывающим их стимулам. У лиц с высокими показателями по шкале нейротизма в неблагоприятных стрессовых ситуациях может развиться невроз.</p>

        <p>Представление результатов по шкалам экстраверсии и нейротизма осуществляется при помощи системы координат. Интерпретация полученных результатов проводится на основе психологических характеристик личности, соответствующих тому или иному квадрату координатной модели с учетом степени выраженности индивидуально-психологических свойств и степени достоверности полученных данных.</p>


    </div>
</div>