<div id="horizontal-task-list">
    <div>
        <ul>
            {{#each tasks}}
            <li id="hvn{{#plus1}}{{@index}}{{/plus1}}">{{#plus1}}{{@index}}{{/plus1}}</li>
            {{/each}}
        </ul>
        <span></span>
    </div>
</div>