<div class="result">
    <div>
        <h2>Interpretation of results</h2>
    </div>
    <div>
        <div>You are {{temperamentType}}</div>
    </div>
    <div class="result-alternatives">
        <div class="extraversion-5">You are explicit extravert </div>
        <div class="extraversion-4">You are extravert </div>
        <div class="extraversion-3">You are in the middle of extraversion graph</div>
        <div class="extraversion-2">You are introvert</div>
        <div class="extraversion-1">You are explicit introvert</div>

        <div class="neuroticism-4">You have a very high level of neuroticism</div>
        <div class="neuroticism-3">You have a high level of neuroticism</div>
        <div class="neuroticism-2">You have average level of neuroticism</div>
        <div class="neuroticism-1">You have low level of neuroticism</div>

        <div class="lies-3">You showed insincerity in your answers that testifies to some degree of ostentation and expectation of social approval.</div>
        <div class="lies-2">You showed an adequate degree of sincerity</div>
        <div class="lies-1">You gave sincere answers</div>
    </div>

    <div id="temperament-score">
        <div>Extraversion scale points: {{extraversionScore}} out of 24</div>
        <div>Neuroticism scale points: {{neuroticismScore}} out of 24</div>
        <div>Insincerity scale points: {{liesScore}} out of 9</div>
    </div>
    <div class="show-all-answers"><div>Show answers</div></div>
    <div>
        <h3 class="graph-name">Eysenck circle</h3>
        <div id="graphic-result">
            <div></div>
            <img id="eysenck-circle-bg" src="../../images/Eysenck_circle-bg.jpg" alt="Круг Айзенка">
            <img id="eysenck-circle-details" src="../../images/Eysenck_circle-lines.png" alt="Круг Айзенка">
            <div id="stable-aspect" class="temperament-traits">stability</div>
            <div id="unstable-aspect" class="temperament-traits">neuroticism</div>
            <div id="extrovert-aspect" class="temperament-traits">extroversion</div>
            <div id="introvert-aspect" class="temperament-traits">introversion</div>
            <div id="melancholic-traits" class="temperament-traits">
                <h2>melancholic</h2>
                <ul>
                    <li>moody</li>
                    <li>thoughtful</li>
                    <li>unsociable</li>
                    <li>pessimistic</li>
                    <li>reserved</li>
                    <li>anxious</li>
                    <li>rigid</li>
                    <li>quiet</li>
                </ul>
            </div>
            <div id="choleric-traits" class="temperament-traits">
                <h2>choleric</h2>
                <ul>
                    <li>excitable</li>
                    <li>aggressive</li>
                    <li>restless</li>
                    <li>changeable</li>
                    <li>impulsive</li>
                    <li>optimistic</li>
                    <li>touchy</li>
                    <li>active</li>
                </ul>
            </div>
            <div id="phlegmatic-traits" class="temperament-traits">
                <h2>phlegmatic</h2>
                <ul>
                    <li>passive</li>
                    <li>careful</li>
                    <li>reliable</li>
                    <li>calm</li>
                    <li>reserved</li>
                    <li>peaceful</li>
                    <li>thoughtful</li>
                    <li>responsible</li>
                </ul>
            </div>
            <div id="sanguine-traits" class="temperament-traits">
                <h2>sanguine</h2>
                <ul>
                    <li>outgoing</li>
                    <li>sociable</li>
                    <li>responsive</li>
                    <li>carefree</li>
                    <li>enterprising</li>
                    <li>talkative</li>
                    <li>easy-going</li>
                    <li>lively</li>
                </ul>
            </div>
        </div>

    </div>

    <div id="reference-in-result" style="display: block;">
        <p><strong>Sanguine</strong> adapts to new conditions easily, becomes friends with people easily, is sociable. Feelings arouse and cease easily, emotional experience is not deep as a rule. He/she has a vivid mimicry. A little bit fidgety, needs new impressions, does not fully regulate his impulses, is not able to strictly adhere to worked-out schedule in life and systematic approach in work. In connection with that he/she can not successfully do a job that requires robustness, lengthy and methodical effort, assiduity, attention and patience. When not having serious goals, deep thoughts and creative activities, sanguine may become perfunctory and inconstant.</p>
        <p><strong>Choleric</strong> is distinguished with increased excitement, his/her actions are discontinuous. Such properties as abruptness and quickness of motion, physical strength, impulsiveness, explicit emotional experience are inherent to choleric. Due to unbalance, he is prone to act as hard as one can when he takes a great interest in something, and as a result, he exhausts more than he should. Pursuing public interests, he displays his temperament by being initiative, energetic and principled. When not living a spiritual life, a choleric may display such traits as irritability, unrestraint, affectability, inability to control himself/herself amid emotional circumstances.</p>
        <p><strong>Phlegmatic</strong> is characterized by comparatively low level of liveliness in his behavior, new forms of which are being developed slowly but remain steady. He is slow and calm in his actions, mimicry and speech; constant, has deepness of feelings and emotions. Being a persistent inexhaustible toiler, he rarely loses control, is not prone to affects, goes through with his business after having calculated his strength; is consistent in relations, quite sociable, does not like small talk, does not waste his energy, but instead saves it. Depending on conditions, a phlegmatic may be characterized by “positive” traits – self-restrain, deepness of thought, consistency, thoroughness etc., in other circumstances – by listlessness, indifference to what is happening around, laziness and lack of will, scarcity of emotion, a tendency to fulfill only habitual actions.</p>
        <p><strong>Melancholic.</strong> His reactions often do not correspond to the degree of the irritant; feelings are deep and stable while poorly expressed. It is difficult for him/her to concentrate on something for a long time. Strong influences often provoke a continuous inhibitory reaction (he throws up his hands). Such traits as reserve, dullness of motion and speech, shyness and indecisiveness are peculiar to him. Under normal conditions a melancholic is a deep and solemn person, can be a good worker and cope with life troubles successfully. Under unfourable conditions he may turn to self-contained, fearful, anxious and vulnerable person prone to painful memories of events or things that do not deserve it.</p>
        <h3>Extroversion — Introversion</h3>

        <p>The author of the test characterizes an extrovert as a person who is sociable, oriented to the outside world and has a wide circle of acquaintances. He acts on the spur of the moment, is impulsive, hot-tempered, carefree, optimistic, kind-hearted and cheerful. He/she prefers to be on the go and to act, has a tendency towards aggressiveness. A person does not have a strict control over his/her feelings and emotions, is prone to risky actions. One can not always rely on him/her.</p>
        <p>A typical introvert is a person who is calm, shy, introspective and prone to self-analysis. He is reserved and distanced from everybody except close friends. He plans and ponders over his actions beforehand, does not trust spontaneous impulses, takes decision-taking seriously, likes order in everything. Controls his/her emotions; it is hard to drive him crazy. He may have pessimistic traits; highly values moral laws.</p>
        <h3>Neuroticism</h3>

        <p>Neuroticism characterizes emotional stability or instability. Neuroticism, according to some data, is connected with indicators of nervous system lability. Emotional stability is expressed in organized behavior, situational purposefulness in ordinary and stressful situations; is characterized by maturity, good adaptation skills, small degree of tension and anxiety, as well as inclination to leadership and sociability.</p>
        <p>Neuroticism is expressed in excessive nervousness, instability, bad adaptation skills, moodiness (lability), guilt and anxiety feelings, concern, depressive reactions, absent-mindedness and unsteadiness in stressful situations. Neuroticism is characterized by emotionality, impulsiveness; irregularity in communication with people, change of interests, timidity, explicit sensibility, impressionability, irritability. A neurotic person has inadequately strong reactions against stimulus that provoke them. People having high neuroticism level may develop neurosis when exposed to unfourable stressful situations. </p>
        <p>The results on extraversion and neuroticism scale are presented in the form of coordinate system. Interpretation of results is based on psychological characteristics of a person that correspond to a particular square of coordinates model with consideration of intensity of individual-psychological traits and credibility of results.</p>

    </div>
</div>